streamlit==1.49.1
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.6.1
scipy==1.16.2
seaborn==0.13.2
joblib==1.5.2
tensorflow==2.16.2
torch==2.8.0
keras==3.10.0
xgboost==3.0.5
nltk==3.9.1
spacy==3.8.7
transformers==4.56.1
gradio==5.46.0
gradio_client==1.13.0
sklearn-pandas==2.2.0



